.list{
  margin-top:4rem;
}

table {
  width: 100%;
}

input{
  font-size: 18px;
  width: 100% !important;
  margin-bottom: 3rem !important;
  color: grey;
  padding: 5px !important;
}

td, th {
  width: 25%;
}

.mat-row{
  cursor: pointer !important;
}

.mat-row:hover{
  background-color: #8b9aa1;
  color: #000;
}

