

<div class="list">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>

    <ng-container >
        <input class="filter" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </ng-container>

  <table mat-table [dataSource]="launchList" matSort>

    <!--- flight number --->
    <ng-container matColumnDef="flight_number">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Flight Number </th>
      <td mat-cell *matCellDef="let launch"> {{launch.flight_number}} </td>
    </ng-container>

    <!--- launching year --->
    <ng-container matColumnDef="launch_year">
      <th mat-header-cell *matHeaderCellDef> Launch Year </th>
      <td mat-cell *matCellDef="let launch"> {{launch.launch_year}} </td>
    </ng-container>

    <!--- name of the rocket --->
    <ng-container matColumnDef="rocket">
      <th mat-header-cell *matHeaderCellDef> Rocket Name </th>
      <td mat-cell *matCellDef="let launch"> {{launch.rocket.rocket_name}} </td>
    </ng-container>

    <!--- details of the launch  --->
    <ng-container matColumnDef="details" class="details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let launch"> {{launch.details}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="displayPresskit(row)"></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 80]" showFirstLastButtons></mat-paginator>

</div>
